In [ ]:
#As with most data sets collected, the Heroes of Pymoli in game purchase data showcases elements 
#that are expected, unexpected as well as some that turned out to be rather frustrating to analyze.  

#The most expected trend within the data was that males make up a huge majority of their purchase 
#base at around 84%.  However, they turned out to be the most frugal overall with their purchases 
#as their average item purchase price of $3.02 fell below the overall item purchase price of $3.05.  
#This would mean the other two group (Female and Other) would have to have a much higher item purchase
#price average to bump the overall average up and they certainly did.  Despite female and other only 
#accounting for around 14% and 2% of the player count, they had averages of $3.20 and $3.35.  
#I went into this data set believing the three averages as a hypothesis test that they would not have 
#much difference between them but that does not seem to be the case.  Pymoli may benefit from focusing 
#some marketing into these two groups if they have not already.

#The age bracket statistics were also a bit unexpected.  The three brackets that span the most gamers 
#ranges from 15 to 29 years old and accounts for nearly 77% of all gamers yet they had item purchase 
#price averages either at the overall purchase average or below.  15 to 19 years old averaged $3.04, 
#20 to 24 years old averaged $3.05 and 25-29 years old averaged just $2.90.  Meanwhile, the two brackets 
#with the highest item purchase price averages were 10 years and younger ($3.35) and 35 to 39 years 
#old ($3.60).  Despite only accounting for just over 8% of the player base, Pymoli may benefit from 
#focusing some marketing into these two groups due to their higher than average item purchase price.

#The most surprising element while analyzing the data was the relatively small total revenue generated 
#from the top 5 spenders.  I always follow the Pareto principle for most types of sales data that you 
#usually get most sales from a minority of the clientele.  However, the top 5 spenders only accounted 
#for just over 3% of total revenue.  This would be a main point that I would love to analyze further to 
#see if revenue grouped by each player would follow a power distribution (as again would be expected with
#a hypothesis test) or if it follows something more conventional like a normal distribution.

#Despite the interesting points found within this data set, there were some parts that proved to be a 
#headache in the analysis.  The first point had to do with the total Item ID numbers.  After using a 
#value_counts() on Item ID in the data set and then doing a count() on it, a result of 183 unique Item IDs 
#was given.  However, I knew this was incorrect as the Item IDs ranged from 0 to 183 and assumed 184 was 
#the correct total.  Sure enough, while looking over the actual data set, Item ID number 36 was not
#accounted for in the data set.  

#The second point of agony came when doing analysis on the top 5 most popular items.  Grouping the data 
#set by Item name, counting all the elements in each row for each column and then sorting it, the item 
#Final Critic had the most purchases at 13.  However, I soon noticed a huge issue with this.  Final Critic 
#has 2 different item IDs (92 and 101) with 2 different item prices ($4.88 and $4.19) each with different
#purchase counts.  I mulled over this until I decide to regroup the original data set by using Item ID as 
#the definitive way to get the total number of unique items.

#I went with this route of thinking since Heroes of Pymoli is a fantasy game, there could very easily be 
#items with the same name yet have different levels of elements to them.  It would seem Final Critic is
#not the only item that this applies to as a count of the number of item names yields a total of 179 
#meaning that there are 4 items in the data set with a unique name but have 2 different Item ID numbers.  

#Whenever I analyze a data set that has an odd discrepancy within it, I tend to call them boobytraps. 
#They are little elements in the data set that one would usually not check for but will cause issues with
#the analysis and can be hard to pinpoint.  In this case, item total could either be 179, 183, or 184 
#depending on whether this issue is realized.

#Tried to follow pep8 standards the best I could.  Hopefully, the code is easier to
#read and understand.

In [1]:
#Modules
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
#Procedure to take in csv.  "Other/ Non-Disclosed" in Gender is changed to simply 
#"Other" for easier referencing later.

Pymoli_Data="Resources/purchase_data.csv"
Pymoli_DF=pd.read_csv(Pymoli_Data, encoding='utf-8')
Pymoli_DF["Gender"]=Pymoli_DF["Gender"].replace({ \
                                "Other / Non-Disclosed": "Other"}
                                )

In [3]:
#Reference for Column Names.
Pymoli_DF.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [26]:
#Base Line Statistical Analysis.  While it may be a bit overkill to declare every 
#variable before positioning it within the final dataframe, it made debugging much 
#easier.  This method will apply to each dataframe in this notebook.
#Item #36 AWOL

#Variable Declarations:

#Counts The Total SN numbers
Number_of_Players=(Pymoli_DF["SN"].value_counts()).count()    


#Counts The Total Prices To Use As a Purchase Counter
Number_of_Purchases=(Pymoli_DF["Price"].count())      


#Counts The Number of Unique Item Names
Pymoli_Unique_Item=(Pymoli_DF["Item Name"].value_counts()).count() 


#Counts The number of Unique Item IDs
Pymoli_Unique_Item_ID=(Pymoli_DF["Item ID"].nunique()) 


#Sums All Sales Prices For Total Revenue
Pymoli_Revenue=Pymoli_DF["Price"].sum()        


#Item Price Mean
Pymoli_Price_Mean=Pymoli_DF["Price"].mean()        


#Item Price Standard Deviation
Pymoli_Price_Std=Pymoli_DF["Price"].std()  


#Item Price Skewness
Pymoli_Skew=Pymoli_DF["Price"].skew()      


#Item Price Kurtosis
Pymoli_Kurtosis=Pymoli_DF["Price"].kurtosis()      



#Base Line Statistics DataFrame:

Pymoli_General_Stats=pd.DataFrame({
                                "Total Number of Players": [Number_of_Players],
                                "Number of Unique Items By Item Name": [Pymoli_Unique_Item],
                                "Number of Unique Items By Item ID": [Pymoli_Unique_Item_ID],
                                "Total Number of Purchases": [Number_of_Purchases],
                                "Total Revenue": [Pymoli_Revenue],
                                "Average Purchase Price": [Pymoli_Price_Mean],
                                "Purchase Price Standard Deviation": [Pymoli_Price_Std],
                                "Purchase Price Skewness": [Pymoli_Skew],
                                "Purchase Price Kurtosis": [Pymoli_Kurtosis]}
                                )



#Formatting
Pymoli_General_Stats["Total Revenue"]=(Pymoli_General_Stats["Total Revenue"] \
                                         .astype(float).map("${:,.2f}".format)
                                      )


Pymoli_General_Stats["Average Purchase Price"]=( \
Pymoli_General_Stats["Average Purchase Price"].astype(float).map("${:,.2f}".format)
)


Pymoli_General_Stats["Purchase Price Standard Deviation"]=( \
Pymoli_General_Stats["Purchase Price Standard Deviation"].astype(float).map("${:,.4f}".format)
)


Pymoli_General_Stats["Purchase Price Skewness"]=( \
Pymoli_General_Stats["Purchase Price Skewness"].astype(float).map("${:,.4f}".format)
)


Pymoli_General_Stats["Purchase Price Kurtosis"]=( \
Pymoli_General_Stats["Purchase Price Kurtosis"].astype(float).map("${:,.4f}".format)
)



Pymoli_General_Stats

,Total Number of Players,Number of Unique Items By Item Name,Number of Unique Items By Item ID,Total Number of Purchases,Total Revenue,Average Purchase Price,Purchase Price Standard Deviation,Purchase Price Skewness,Purchase Price Kurtosis
0,576,179,183,780,"$2,379.77",$3.05,$1.1695,$-0.0893,$-1.2194

In [19]:
#Statistics Broken Down by Gender

#Male Variable Declarations:

#Yields Data For Male Gamers
Pymoli_Male=Pymoli_DF.loc[Pymoli_DF["Gender"]=="Male", :]   


#Counts Item Prices To Use As a Purchase Counter
Pymoli_Male_Count=Pymoli_Male["Price"].count()        

#Mean Item Purchase Price for Male Gamers
Pymoli_Male_Mu=Pymoli_Male["Price"].mean()   


#Sums Total Revenue For Male Gamers
Pymoli_Male_Sum=Pymoli_Male["Price"].sum()     


#Yields Number of Unique SNs For Male Gamers
Pymoli_Male_Unique=Pymoli_Male["SN"].nunique()     


#Calculates The number of Males Gamers As a Total Percentage
Pymoli_Male_Percent=Pymoli_Male_Unique / Number_of_Players   


#Sums Purchase Amount For Each Unique SN For Male Gamers
Pymoli_Male_Total=Pymoli_Male.groupby(["SN"]).sum()      


#Yields Mean For Purchase Amount For Each Unique SN For Male Gamers
Pymoli_Male_Total_Mu=Pymoli_Male_Total["Price"].mean()   



#Female Variable Declarations.  These have the exact same structure as the Male 
#Variable Declarations.

Pymoli_Female=Pymoli_DF.loc[Pymoli_DF["Gender"]=="Female", :]

Pymoli_Female_Count=Pymoli_Female["Price"].count()

Pymoli_Female_Mu=Pymoli_Female["Price"].mean()

Pymoli_Female_Sum=Pymoli_Female["Price"].sum()

Pymoli_Female_Unique=Pymoli_Female["SN"].nunique()

Pymoli_Female_Percent=Pymoli_Female_Unique / Number_of_Players

Pymoli_Female_Total=Pymoli_Female.groupby(["SN"]).sum()

Pymoli_Female_Total_Mu=Pymoli_Female_Total["Price"].mean()



#Other/Non-Disclosed Variable Declarations.  These have the exact same structure as 
#both Male and Female Variable Declarations.

Pymoli_Other=Pymoli_DF.loc[Pymoli_DF["Gender"]=="Other", :]

Pymoli_Other_Count=Pymoli_Other["Price"].count()

Pymoli_Other_Mu=Pymoli_Other["Price"].mean()

Pymoli_Other_Sum=Pymoli_Other["Price"].sum()

Pymoli_Other_Unique=Pymoli_Other["SN"].nunique()

Pymoli_Other_Percent=Pymoli_Other_Unique / Number_of_Players

Pymoli_Other_Total=Pymoli_Other.groupby(["SN"]).sum()

Pymoli_Other_Total_Mu=Pymoli_Other_Total["Price"].mean()



#Total Per Person Per Gender Average.  This is needed to keep the Total row symmetrical
#for the DataFrame to function properly.
Pymoli_Total_Mu=(Pymoli_Male_Total_Mu+Pymoli_Female_Total_Mu+Pymoli_Other_Total_Mu)/3



#Gender Based Statistics DataFrame. A total row is added to make the table look 
#a bit more symmetrical.

Pymoli_Gender_DF=pd.DataFrame({"Gender": ["Male", "Female", "Other/Non-Disclosed", "Total"], 
                                
    "Total Number of Gamers":[
                    Pymoli_Male_Unique, Pymoli_Female_Unique, 
                    Pymoli_Other_Unique, Number_of_Players
                    ],
                                
                               
                               
    "Percentage Count of Gamers":[
                    Pymoli_Male_Percent, Pymoli_Female_Percent, 
                    Pymoli_Other_Percent, 1
                    ],
                                
                               
                               
    "Total Purchases":[
                    Pymoli_Male_Count, Pymoli_Female_Count, 
                    Pymoli_Other_Count, Number_of_Purchases
                    ],
                            
                               
                               
    "Average Purchase Price":[
                    Pymoli_Male_Mu, Pymoli_Female_Mu, 
                    Pymoli_Other_Mu, Pymoli_Price_Mean
                    ],
                                
                               
                               
    "Total Revenue":[
                Pymoli_Male_Sum, Pymoli_Female_Sum, 
                Pymoli_Other_Sum, Pymoli_Revenue
                ],
                               
                               
                                
    "Avg Total Purchase per Person":[
                    Pymoli_Male_Total_Mu, Pymoli_Female_Total_Mu, 
                    Pymoli_Other_Total_Mu, Pymoli_Total_Mu
                    ]
    }
    )



#Formatting
Pymoli_Gender_DF["Percentage Count of Gamers"]=( \
Pymoli_Gender_DF["Percentage Count of Gamers"].astype(float).map("{:,.4f}%".format)
)


Pymoli_Gender_DF["Average Purchase Price"]=( \
Pymoli_Gender_DF["Average Purchase Price"].astype(float).map("${:,.2f}".format)
)


Pymoli_Gender_DF["Total Revenue"]=( \
Pymoli_Gender_DF["Total Revenue"].astype(float).map("${:,.2f}".format)
)


Pymoli_Gender_DF["Avg Total Purchase per Person"]=( \
Pymoli_Gender_DF["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)
)


Pymoli_Gender_DF

,Gender,Total Number of Gamers,Percentage Count of Gamers,Total Purchases,Average Purchase Price,Total Revenue,Avg Total Purchase per Person
0,Male,484,0.8403%,652,$3.02,"$1,967.64",$4.07
1,Female,81,0.1406%,113,$3.20,$361.94,$4.47
2,Other/Non-Disclosed,11,0.0191%,15,$3.35,$50.19,$4.56
3,Total,576,1.0000%,780,$3.05,"$2,379.77",$4.37

In [29]:
#Age Statistics. 

#DataFrames declarations for each age bracket.

Pymoli_Under_10_Years=Pymoli_DF.loc[Pymoli_DF["Age"]<10, :]

Pymoli_10_to_14_Years=Pymoli_DF.loc[(Pymoli_DF["Age"]>9)&(Pymoli_DF["Age"]<15), :]

Pymoli_15_to_19_Years=Pymoli_DF.loc[(Pymoli_DF["Age"]>14)&(Pymoli_DF["Age"]<20), :]

Pymoli_20_to_24_Years=Pymoli_DF.loc[(Pymoli_DF["Age"]>19)&(Pymoli_DF["Age"]<25), :]

Pymoli_25_to_29_Years=Pymoli_DF.loc[(Pymoli_DF["Age"]>24)&(Pymoli_DF["Age"]<30), :]

Pymoli_30_to_34_Years=Pymoli_DF.loc[(Pymoli_DF["Age"]>29)&(Pymoli_DF["Age"]<35), :]

Pymoli_35_to_39_Years=Pymoli_DF.loc[(Pymoli_DF["Age"]>34)&(Pymoli_DF["Age"]<40), :]

Pymoli_Over_40_Years=Pymoli_DF.loc[Pymoli_DF["Age"]>39, :]


#Under 10 years old count.  Every subsequent age bracket variable declarations 
#will use this same structure.

#Total Purchases Counter
Pymoli_Under_10_Years_Count=Pymoli_Under_10_Years["SN"].count()   

#Purchase Price Mean
Pymoli_Under_10_Years_Mu=Pymoli_Under_10_Years["Price"].mean()   

#Purchase Price Standard Deviation
Pymoli_Under_10_Years_Std=Pymoli_Under_10_Years["Price"].std()  

#Sums Total Purchase Value
Pymoli_Under_10_Years_Total=Pymoli_Under_10_Years["Price"].sum()  

#Sums All Columns by SN Number
Pymoli_Under_10_Years_Total_Sum=Pymoli_Under_10_Years.groupby(["SN"]).sum()   

#Yields Mean For Purchase Amount For Each Unique SN
Pymoli_Under_10_Years_Total_Sum_Mu=Pymoli_Under_10_Years_Total_Sum["Price"].mean()  

#Yields Total Amount of Unique SN Numbers
Pymoli_Under_10_Years_Unique=Pymoli_Under_10_Years["SN"].nunique()         

#Yields Total Amount of Unique SN Numbers As a Percentage
Pymoli_Under_10_Years_Percent=Pymoli_Under_10_Years_Unique/Number_of_Players      


#10 to 14 Years Bracket

Pymoli_10_to_14_Years_Count=Pymoli_10_to_14_Years["SN"].count()

Pymoli_10_to_14_Years_Mu=Pymoli_10_to_14_Years["Price"].mean()

Pymoli_10_to_14_Years_Std=Pymoli_10_to_14_Years["Price"].std()

Pymoli_10_to_14_Years_Total=Pymoli_10_to_14_Years["Price"].sum()

Pymoli_10_to_14_Years_Total_Sum=Pymoli_10_to_14_Years.groupby(["SN"]).sum()

Pymoli_10_to_14_Years_Total_Sum_Mu=Pymoli_10_to_14_Years_Total_Sum["Price"].mean()

Pymoli_10_to_14_Years_Unique=Pymoli_10_to_14_Years["SN"].nunique()

Pymoli_10_to_14_Years_Percent=Pymoli_10_to_14_Years_Unique/Number_of_Players


#15 to 19 Years Bracket

Pymoli_15_to_19_Years_Count=Pymoli_15_to_19_Years["SN"].count()

Pymoli_15_to_19_Years_Mu=Pymoli_15_to_19_Years["Price"].mean()

Pymoli_15_to_19_Years_Std=Pymoli_15_to_19_Years["Price"].std()

Pymoli_15_to_19_Years_Total=Pymoli_15_to_19_Years["Price"].sum()

Pymoli_15_to_19_Years_Total_Sum=Pymoli_15_to_19_Years.groupby(["SN"]).sum()

Pymoli_15_to_19_Years_Total_Sum_Mu=Pymoli_15_to_19_Years_Total_Sum["Price"].mean()

Pymoli_15_to_19_Years_Unique=Pymoli_15_to_19_Years["SN"].nunique()

Pymoli_15_to_19_Years_Percent=Pymoli_15_to_19_Years_Unique/Number_of_Players


#20 to 24 Years Bracket

Pymoli_20_to_24_Years_Count=Pymoli_20_to_24_Years["SN"].count()

Pymoli_20_to_24_Years_Mu=Pymoli_20_to_24_Years["Price"].mean()

Pymoli_20_to_24_Years_Std=Pymoli_20_to_24_Years["Price"].std()

Pymoli_20_to_24_Years_Total=Pymoli_20_to_24_Years["Price"].sum()

Pymoli_20_to_24_Years_Total_Sum=Pymoli_20_to_24_Years.groupby(["SN"]).sum()

Pymoli_20_to_24_Years_Total_Sum_Mu=Pymoli_20_to_24_Years_Total_Sum["Price"].mean()

Pymoli_20_to_24_Years_Unique=Pymoli_20_to_24_Years["SN"].nunique()

Pymoli_20_to_24_Years_Percent=Pymoli_20_to_24_Years_Unique/Number_of_Players


#25 to 29 Years Bracket

Pymoli_25_to_29_Years_Count=Pymoli_25_to_29_Years["SN"].count()

Pymoli_25_to_29_Years_Mu=Pymoli_25_to_29_Years["Price"].mean()

Pymoli_25_to_29_Years_Std=Pymoli_25_to_29_Years["Price"].std()

Pymoli_25_to_29_Years_Total=Pymoli_25_to_29_Years["Price"].sum()

Pymoli_25_to_29_Years_Total_Sum=Pymoli_25_to_29_Years.groupby(["SN"]).sum()

Pymoli_25_to_29_Years_Total_Sum_Mu=Pymoli_25_to_29_Years_Total_Sum["Price"].mean()

Pymoli_25_to_29_Years_Unique=Pymoli_25_to_29_Years["SN"].nunique()

Pymoli_25_to_29_Years_Percent=Pymoli_25_to_29_Years_Unique/Number_of_Players


#30 to 34 Years Bracket

Pymoli_30_to_34_Years_Count=Pymoli_30_to_34_Years["SN"].count()

Pymoli_30_to_34_Years_Mu=Pymoli_30_to_34_Years["Price"].mean()

Pymoli_30_to_34_Years_Std=Pymoli_30_to_34_Years["Price"].std()

Pymoli_30_to_34_Years_Total=Pymoli_30_to_34_Years["Price"].sum()

Pymoli_30_to_34_Years_Total_Sum=Pymoli_30_to_34_Years.groupby(["SN"]).sum()

Pymoli_30_to_34_Years_Total_Sum_Mu=Pymoli_30_to_34_Years_Total_Sum["Price"].mean()

Pymoli_30_to_34_Years_Unique=Pymoli_30_to_34_Years["SN"].nunique()

Pymoli_30_to_34_Years_Percent=Pymoli_30_to_34_Years_Unique/Number_of_Players


#35 to 39 Years Bracket

Pymoli_35_to_39_Years_Count=Pymoli_35_to_39_Years["SN"].count()

Pymoli_35_to_39_Years_Mu=Pymoli_35_to_39_Years["Price"].mean()

Pymoli_35_to_39_Years_Std=Pymoli_35_to_39_Years["Price"].std()

Pymoli_35_to_39_Years_Total=Pymoli_35_to_39_Years["Price"].sum()

Pymoli_35_to_39_Years_Total_Sum=Pymoli_35_to_39_Years.groupby(["SN"]).sum()

Pymoli_35_to_39_Years_Total_Sum_Mu=Pymoli_35_to_39_Years_Total_Sum["Price"].mean()

Pymoli_35_to_39_Years_Unique=Pymoli_35_to_39_Years["SN"].nunique()

Pymoli_35_to_39_Years_Percent=Pymoli_35_to_39_Years_Unique/Number_of_Players


#40+ Bracket

Pymoli_Over_40_Years_Count=Pymoli_Over_40_Years["SN"].count()

Pymoli_Over_40_Years_Mu=Pymoli_Over_40_Years["Price"].mean()

Pymoli_Over_40_Years_Std=Pymoli_Over_40_Years["Price"].std()

Pymoli_Over_40_Years_Total=Pymoli_Over_40_Years["Price"].sum()

Pymoli_Over_40_Years_Total_Sum=Pymoli_Over_40_Years.groupby(["SN"]).sum()

Pymoli_Over_40_Years_Total_Sum_Mu=Pymoli_Over_40_Years_Total_Sum["Price"].mean()

Pymoli_Over_40_Years_Unique=Pymoli_Over_40_Years["SN"].nunique()

Pymoli_Over_40_Years_Percent=Pymoli_Over_40_Years_Unique/Number_of_Players


#Total Summary
#Purchase Count = Number_of_Purchases
#Mean = Pymoli_Price_Mean - Use this as using table mean will NOT weight it properly
#Total Per Person Per Age Bracket Average.  This is needed to keep the Total row 
#symmetrical for the DataFrame to function properly.
Pymoli_Total=((Pymoli_Under_10_Years_Total_Sum_Mu+Pymoli_10_to_14_Years_Total_Sum_Mu
                   +Pymoli_15_to_19_Years_Total_Sum_Mu+Pymoli_20_to_24_Years_Total_Sum_Mu
                   +Pymoli_25_to_29_Years_Total_Sum_Mu+Pymoli_30_to_34_Years_Total_Sum_Mu
                   +Pymoli_35_to_39_Years_Total_Sum_Mu+Pymoli_Over_40_Years_Total_Sum_Mu)/8
                  )



#DataFrame for Overall Gender Statistics.

Pymoli_Gender_Total_DF=pd.DataFrame({"Age Group":[
                        "Under 10 Years Old", "10 to 14 Years Old", 
                        "15 to 19 Years Old", "20 to 24 Years Old", 
                        "25 to 29 Years Old", "30 to 34 Years Old", 
                        "35 to 39 Years Old", "40 Years and Older", 
                        "Total"
                        ],
                                       
                                       
                                       
    "Total Number of Gamers":[
                                Pymoli_Under_10_Years_Unique, Pymoli_10_to_14_Years_Unique, 
                                Pymoli_15_to_19_Years_Unique, Pymoli_20_to_24_Years_Unique, 
                                Pymoli_25_to_29_Years_Unique, Pymoli_30_to_34_Years_Unique,
                                Pymoli_35_to_39_Years_Unique, Pymoli_Over_40_Years_Unique, 
                                Number_of_Players
                                ],
                                       
                                       
                                       
    "Percentage Count of Gamers":[
                            Pymoli_Under_10_Years_Percent, Pymoli_10_to_14_Years_Percent, 
                            Pymoli_15_to_19_Years_Percent, Pymoli_20_to_24_Years_Percent, 
                            Pymoli_25_to_29_Years_Percent, Pymoli_30_to_34_Years_Percent,
                            Pymoli_35_to_39_Years_Percent, Pymoli_Over_40_Years_Percent,1
                            ],
                                       
                                       
                                       
    "Purchase Count":[
                       Pymoli_Under_10_Years_Count, Pymoli_10_to_14_Years_Count, 
                       Pymoli_15_to_19_Years_Count, Pymoli_20_to_24_Years_Count, 
                       Pymoli_25_to_29_Years_Count, Pymoli_30_to_34_Years_Count,
                       Pymoli_35_to_39_Years_Count, Pymoli_Over_40_Years_Count, 
                       Number_of_Purchases
                       ],
                                       
                                       
    
    "Average Purchase Price":[
                        Pymoli_Under_10_Years_Mu, Pymoli_10_to_14_Years_Mu, 
                        Pymoli_15_to_19_Years_Mu, Pymoli_20_to_24_Years_Mu, 
                        Pymoli_25_to_29_Years_Mu, Pymoli_30_to_34_Years_Mu,
                        Pymoli_35_to_39_Years_Mu, Pymoli_Over_40_Years_Mu, 
                        Pymoli_Price_Mean
                        ],
                                       
                                       
   
    "Lower Revenue 90% CI":[
        (Pymoli_Under_10_Years_Mu-(1.6445*Pymoli_10_to_14_Years_Std))*Pymoli_Under_10_Years_Count,
        (Pymoli_10_to_14_Years_Mu-(1.6445*Pymoli_10_to_14_Years_Std))*Pymoli_10_to_14_Years_Count,
        (Pymoli_15_to_19_Years_Mu-(1.6445*Pymoli_15_to_19_Years_Std))*Pymoli_15_to_19_Years_Count,
        (Pymoli_20_to_24_Years_Mu-(1.6445*Pymoli_20_to_24_Years_Std))*Pymoli_20_to_24_Years_Count,
        (Pymoli_25_to_29_Years_Mu-(1.6445*Pymoli_25_to_29_Years_Std))*Pymoli_25_to_29_Years_Count,
        (Pymoli_30_to_34_Years_Mu-(1.6445*Pymoli_30_to_34_Years_Std))*Pymoli_30_to_34_Years_Count,
        (Pymoli_35_to_39_Years_Mu-(1.6445*Pymoli_35_to_39_Years_Std))*Pymoli_35_to_39_Years_Count,
        (Pymoli_Over_40_Years_Mu-(1.6445*Pymoli_Over_40_Years_Std))*Pymoli_Over_40_Years_Count,
        (Pymoli_Price_Mean-(1.6445*Pymoli_Price_Std))*Number_of_Purchases
        ],
                                       
                                       
    
    "Upper Revenue 90% CI":[
        (Pymoli_Under_10_Years_Mu+(1.6445*Pymoli_10_to_14_Years_Std))*Pymoli_Under_10_Years_Count,
        (Pymoli_10_to_14_Years_Mu+(1.6445*Pymoli_10_to_14_Years_Std))*Pymoli_10_to_14_Years_Count,
        (Pymoli_15_to_19_Years_Mu+(1.6445*Pymoli_15_to_19_Years_Std))*Pymoli_15_to_19_Years_Count,
        (Pymoli_20_to_24_Years_Mu+(1.6445*Pymoli_20_to_24_Years_Std))*Pymoli_20_to_24_Years_Count,
        (Pymoli_25_to_29_Years_Mu+(1.6445*Pymoli_25_to_29_Years_Std))*Pymoli_25_to_29_Years_Count,
        (Pymoli_30_to_34_Years_Mu+(1.6445*Pymoli_30_to_34_Years_Std))*Pymoli_30_to_34_Years_Count,
        (Pymoli_35_to_39_Years_Mu+(1.6445*Pymoli_35_to_39_Years_Std))*Pymoli_35_to_39_Years_Count,
        (Pymoli_Over_40_Years_Mu+(1.6445*Pymoli_Over_40_Years_Std))*Pymoli_Over_40_Years_Count,
        (Pymoli_Price_Mean+(1.6445*Pymoli_Price_Std))*Number_of_Purchases
        ],
   
                                       
                                       
    "Total Revenue":[
                Pymoli_Under_10_Years_Total, Pymoli_10_to_14_Years_Total, 
                Pymoli_15_to_19_Years_Total, Pymoli_20_to_24_Years_Total, 
                Pymoli_25_to_29_Years_Total, Pymoli_30_to_34_Years_Total,
                Pymoli_35_to_39_Years_Total, Pymoli_Over_40_Years_Total, 
                Pymoli_Revenue
                ],
                              
                                       
                                       
    "Avg Total Purchase per Person":[
                                Pymoli_Under_10_Years_Total_Sum_Mu, 
                                Pymoli_10_to_14_Years_Total_Sum_Mu,
                                Pymoli_15_to_19_Years_Total_Sum_Mu, 
                                Pymoli_20_to_24_Years_Total_Sum_Mu,
                                Pymoli_25_to_29_Years_Total_Sum_Mu, 
                                Pymoli_30_to_34_Years_Total_Sum_Mu,
                                Pymoli_35_to_39_Years_Total_Sum_Mu, 
                                Pymoli_Over_40_Years_Total_Sum_Mu, 
                                Pymoli_Total
                                ]
    }
    )



#Formatting
Pymoli_Gender_Total_DF["Average Purchase Price"]=( \
Pymoli_Gender_Total_DF["Average Purchase Price"].astype(float).map("${:,.2f}".format))



Pymoli_Gender_Total_DF["Lower Revenue 90% CI"]=( \
Pymoli_Gender_Total_DF["Lower Revenue 90% CI"].astype(float).map("${:,.2f}".format))



Pymoli_Gender_Total_DF["Upper Revenue 90% CI"]=( \
Pymoli_Gender_Total_DF["Upper Revenue 90% CI"].astype(float).map("${:,.2f}".format))



Pymoli_Gender_Total_DF["Total Revenue"]=( \
Pymoli_Gender_Total_DF["Total Revenue"].astype(float).map("${:,.2f}".format))



Pymoli_Gender_Total_DF["Avg Total Purchase per Person"]=( \
Pymoli_Gender_Total_DF["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format))



Pymoli_Gender_Total_DF["Percentage Count of Gamers"]=( \
Pymoli_Gender_Total_DF["Percentage Count of Gamers"].astype(float).map("{:,.4f}%".format))



Pymoli_Gender_Total_DF

,Age Group,Total Number of Gamers,Percentage Count of Gamers,Purchase Count,Average Purchase Price,Lower Revenue 90% CI,Upper Revenue 90% CI,Total Revenue,Avg Total Purchase per Person
0,Under 10 Years Old,17,0.0295%,23,$3.35,$35.69,$118.57,$77.13,$4.54
1,10 to 14 Years Old,22,0.0382%,28,$2.96,$32.33,$133.23,$82.78,$3.76
2,15 to 19 Years Old,107,0.1858%,136,$3.04,$149.00,$676.78,$412.89,$3.86
3,20 to 24 Years Old,258,0.4479%,365,$3.05,$405.06,"$1,823.06","$1,114.06",$4.32
4,25 to 29 Years Old,77,0.1337%,101,$2.90,$100.52,$485.48,$293.00,$3.81
5,30 to 34 Years Old,52,0.0903%,73,$2.93,$74.87,$353.13,$214.00,$4.12
6,35 to 39 Years Old,31,0.0538%,41,$3.60,$78.28,$217.06,$147.67,$4.76
7,40 Years and Older,12,0.0208%,13,$2.94,$10.41,$66.07,$38.24,$3.19
8,Total,576,1.0000%,780,$3.05,$879.58,"$3,879.96","$2,379.77",$4.04

In [31]:
#Top 5 Spenders

#These 2 variables are set to the sum all dataframe column values while grouped by "SN" 
#(while resetting the index so it can be  used as a reference later on) and the values 
#sorted in descending order for Price.  They are used to to make a new list for the top 
#5 Prices values using just "SN" and "Price".

Pymoli_SN_Sum=Pymoli_DF.groupby(['SN']).sum().reset_index()

Pymoli_SN_Sum_Sort=Pymoli_SN_Sum.sort_values("Price", ascending=False)

Pymoli_SN_Sum_Sort_Top5=pd.DataFrame(Pymoli_SN_Sum_Sort[["SN","Price"]]).head()


#These 2 variables are set to the total count of all column elements while grouped by 
#"SN" while the second one will make a list for using just the "SN" and "Purchase ID".
#"Purchase ID" will be used as a counter for total purchases for each SN number.

Pymoli_SN_Count=Pymoli_DF.groupby(['SN']).count().reset_index()

Pymoli_SN_Purchase_Count=Pymoli_SN_Count[["SN", "Purchase ID"]]


#Merges the two into a new Dataframe on SN.  A new column in "Average Purchase Price" 
#is added which utilizes "Purchase ID" as a purchase total counter.  Finally, columns 
#are renamed so everything is properly aligned and informative.

Pymoli_SN_Overall=pd.merge(Pymoli_SN_Sum_Sort_Top5, Pymoli_SN_Purchase_Count, on="SN")

Pymoli_SN_Overall["Average Purchase Price"]=( \
                        Pymoli_SN_Overall["Price"]/Pymoli_SN_Overall["Purchase ID"]
                        )



Pymoli_SN_Overall=Pymoli_SN_Overall.rename(columns={ \
                                                'SN': 'Top 5 Spenders By SN',
                                                'Price': 'Total Purchase Value',
                                                'Purchase ID': 'Total Purchase Count'}
                                                )



#Drop all other columns.
Pymoli_SN_Overall=Pymoli_SN_Overall[[
                                "Top 5 Spenders By SN", "Total Purchase Count", 
                                "Average Purchase Price", "Total Purchase Value"]
                                ]


#Formatting
Pymoli_SN_Overall["Average Purchase Price"]=( \
Pymoli_SN_Overall["Average Purchase Price"].astype(float).map("${:,.2f}".format)
)


Pymoli_SN_Overall["Total Purchase Value"]=( \
Pymoli_SN_Overall["Total Purchase Value"].astype(float).map("${:,.2f}".format)
)


Pymoli_SN_Overall

,Top 5 Spenders By SN,Total Purchase Count,Average Purchase Price,Total Purchase Value
0,Lisosia93,5,$3.79,$18.96
1,Idastidru52,4,$3.86,$15.45
2,Chamjask73,3,$4.61,$13.83
3,Iral74,4,$3.40,$13.62
4,Iskadarya95,3,$4.37,$13.10

In [32]:
#Top 5 Most Popular Items

#This will count the total column elements in Pymoli_DF grouped by "Item ID" (while 
#reseting the index), put it into a new list with just "Item ID" and "Purchase ID", 
#sort it in descending order based on "Purchase ID" and finally rename "Purchase ID" 
#to explicitly state that it is being used to track the total Purchase Count.

Pymoli_Popular_Count=Pymoli_DF.groupby(['Item ID']).count().reset_index()

Pymoli_Popular_Purchase_Count=Pymoli_Popular_Count[["Item ID", "Purchase ID"]]

Pymoli_Popular_Purchase_Sort=(Pymoli_Popular_Purchase_Count.sort_values( \
                                "Purchase ID", ascending=False).head()
                                )


Pymoli_Popular_Purchase_Sort=Pymoli_Popular_Purchase_Sort.rename(columns={ \
                                'Purchase ID': 'Purchase Count'}
                                )



#This will sum all column elements in Pymoli_DF grouped by "Item ID" (while reseting
#the index), drop all other columns besides "Item ID" and "Price", rename the "Price" 
#column and sort it in descending order base on "Price".

Pymoli_Popular_Sum=Pymoli_DF.groupby(['Item ID']).sum().reset_index()

Pymoli_Popular_Sum=Pymoli_Popular_Sum[['Item ID', 'Price']]

Pymoli_Popular_Sum=Pymoli_Popular_Sum.rename(columns={'Price': 'Total Purchase Value'})

Pymoli_Popular_Sum=Pymoli_Popular_Sum.sort_values("Total Purchase Value", ascending=False)



#This is simply used as a way to reference an Item ID's Name and original price in the
#original Pymoli dataframe.
Pymoli_Popular_Base=Pymoli_DF[['Item Name','Item ID', 'Price']]



#This will merge all 3 of the above lists based on "Item ID". 
#"Price" is also renamed to "Item Price" and unnecessary columns are dropped.
Pymoli_Popular_Overall=pd.merge(
            Pymoli_Popular_Purchase_Sort, Pymoli_Popular_Sum, on="Item ID"
            )



Pymoli_Popular_Overall_Combined=pd.merge(
            Pymoli_Popular_Overall, Pymoli_Popular_Base, on="Item ID"
            )



Pymoli_Popular_Overall_Combined=Pymoli_Popular_Overall_Combined.rename( \
                                            columns={'Price':'Item Price'}
                                            
)

Pymoli_Popular_Overall_Combined=Pymoli_Popular_Overall_Combined[[
                'Item ID', 'Item Name', 'Purchase Count','Item Price', 'Total Purchase Value']
                 ]


#Formatting
Pymoli_Popular_Overall_Combined["Item Price"]=( \
Pymoli_Popular_Overall_Combined["Item Price"].astype(float).map("${:,.2f}".format)
)


Pymoli_Popular_Overall_Combined["Total Purchase Value"]=( \
Pymoli_Popular_Overall_Combined["Total Purchase Value"].astype(float).map("${:,.2f}".format)
)


#Drops Duplicates based on "Item Name". This is needed as the Pymoli_Popular_Overall_Combined 
#will have each Item ID repeat itself based on its purchase count.  For example, "Nirvana" would 
#have the correct display but would be repeated for 9 rows in the table.

Pymoli_Popular_Overall_Combined.drop_duplicates('Item Name', keep="first", inplace=True)


Pymoli_Popular_Overall_Combined

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
12,145,Fiery Glass Crusader,9,$4.58,$41.22
21,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
30,82,Nirvana,9,$4.90,$44.10
39,19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [33]:
#Top 5 Most Profitable Items

#This will count the column elements in Pymoli_DF grouped by "Item ID" (while resetting
#the index), drop all columns except "Item ID" and "Purchase ID", sort Purchase ID in 
#descending order and rename the "Purchase ID" column to explicitly state its purpose 
#as a counter for Purchase count.

Pymoli_Profit_Count=Pymoli_DF.groupby(['Item ID']).count().reset_index()

Pymoli_Profit_Purchase_Count=Pymoli_Profit_Count[["Item ID", "Purchase ID"]]

Pymoli_Profit_Purchase_Sort=Pymoli_Profit_Purchase_Count.sort_values( \
                                                "Purchase ID", ascending=False
                                                )


Pymoli_Profit_Purchase_Sort=Pymoli_Profit_Purchase_Sort.rename( \
                                    columns={'Purchase ID': 'Purchase Count'}
)


#This will sum all column elements grouped by "Item ID" (while reseting the index), 
#drop all columns except "Item ID" and "Price", rename "Price" and sort it in descending 
#order.

Pymoli_Profit_Sum=Pymoli_DF.groupby(['Item ID']).sum().reset_index()

Pymoli_Profit_Sum=Pymoli_Profit_Sum[['Item ID', 'Price']]

Pymoli_Profit_Sum=Pymoli_Profit_Sum.rename(columns={'Price': 'Total Purchase Value'})

Pymoli_Profit_Sum=Pymoli_Profit_Sum.sort_values("Total Purchase Value", ascending=False)



#This is simply used as a way to reference an Item ID's Name and original price in the
#original Pymoli dataframe.
Pymoli_Profit_Base=Pymoli_DF[['Item Name', 'Item ID', 'Price']]



#Like the Top 5 Most Popular Items, this will take the above 3 lists and merge them 
#together using "Item ID". "Price" is renamed and unnecessary columns are dropped.
Pymoli_Profit_Combined=pd.merge(Pymoli_Profit_Purchase_Sort, Pymoli_Profit_Sum, on="Item ID")

Pymoli_Profit_Combined_Overall=pd.merge(
                Pymoli_Profit_Combined, Pymoli_Profit_Base, on="Item ID"
                )


Pymoli_Profit_Combined_Overall=Pymoli_Profit_Combined_Overall.rename( \
                columns={'Price': "Item Price"}
                )


Pymoli_Profit_Combined_Overall=Pymoli_Profit_Combined_Overall[[
        'Item ID', 'Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']
        ]


#Drops Duplicates based on "Item Name". This is needed as the Pymoli_Profit_Combined_Overall 
#will have each Item ID repeat itself based on its purchase count.

Pymoli_Profit_Combined_Overall.drop_duplicates('Item Name', keep='first', inplace=True)


#Sort the final DataFrame by "Total Purchase Value" and use .head() to correctly produce
#the top 5 items based on Total Purchase Value

Pymoli_Profit_Combined_Overall=(Pymoli_Profit_Combined_Overall.sort_values( \
                                    "Total Purchase Value", ascending=False).head()
                                    )


#Formatting
Pymoli_Profit_Combined_Overall["Item Price"]=( \
Pymoli_Profit_Combined_Overall["Item Price"].astype(float).map("${:,.2f}".format)
)


Pymoli_Profit_Combined_Overall["Total Purchase Value"]=( \
Pymoli_Profit_Combined_Overall["Total Purchase Value"].astype(float).map("${:,.2f}".format)
)


Pymoli_Profit_Combined_Overall

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
30,82,Nirvana,9,$4.90,$44.10
12,145,Fiery Glass Crusader,9,$4.58,$41.22
103,92,Final Critic,8,$4.88,$39.04
47,103,Singed Scalpel,8,$4.35,$34.80